/* LES BG IMAGES */
/* DU BODY */
.zoneChefOrc {
    background-image: url("../images/nord/ruineNeige.jpg");
}
.zoneSpawn {
    background-image: url("../images/spawn.jpg");
}
.zoneNord {
    background-image: url("../images/nord/fondNord.webp");
}
.zoneNordNuit {
    background-image: url("../images/nord/neigeNuit.jpg");
}
/* DU CONTAINER */
.containerNord {
    background-image: url("../images/nord/prairieMontagne.jpg");
}
.containerSpawn {
    background-image: url("../images/world.jpg");
}
.containerNordNord {
    background-image: url("../images/nord/cheminMontagne.jpg");
}
.containerNordNordNord {
    background-image: url("../images/nord/montagneEnneigee.jpg");
}
.containerOrc {
    background-image: url("../images/nord/campOrc.jpg");
}
.containerPrison {
    background-image: url("../images/nord/prisonOrc.jpg");
}
.containerNordNordOuest {
    background-image: url("../images/nord/nordNordOuest.jpg");
}

.containerChamp{
    background-image: url("../images/nord/champ.jpg");
}