

p {
    text-align: center;
    width: 70%;
    background-color: black;
    color: white;
    margin: auto;
    padding: 3px;
}
input {
    background-color: white;
    padding: 3px;
    margin: 3px;
    text-align: center;
}
input:hover {
    background-color: black;
    color: white;
    cursor: pointer;
}
#containerPara {
    max-width: 300px;
}
#containerPara #chefOrc{
    width: 140px;
}
#containerPara img{
    width: 64px;
}


